<h2>Editing Section: "<%= @section.title %>"</h2>
<div id="edit-section-form">
    <form action="/section/<%= @section.id %>" method="post">
        <%= text_field "title", @section.title %>
        <%= text_area "body", @section.body %>
        <%= text_field "tags", @section.tags.join(' ') %>
        <%= hidden_field "_rev", @section._rev %>
        <%= submit "Submit" %>
    </form>
</div>