<h2>Add a note</h2>
<div id="new-note-form">
    <form action="/notes" method="post">
        <%= text_field "title" %>
        <%= text_area "body" %>
        <%= text_field "tags" %>
        <%= submit "Submit" %>
    </form>
</div>
<p><%= link_to 'View all notes', '/notes' %></p>
