<h2><%= @section.title %></h2>
<p><%= @section.body %></p>
<p>
    <small><strong>Tags:</strong> <%= @section.tags.join(', ') %></small><br />
    <small><strong>Modified:</strong> <%= @section.updated_at %></small>
</p>
<p><%= link_to 'All sections', '/sections' %></p>